@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

canvas {
  touch-action: none;
}

.iframe-website iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
}
